<img class="imagen1" src="./assets/Web/fondo.png" width="1600px" height="331px">
<div class="cuadro">
</div>
<div class="cuerpo">
	<div class="entrada">
		<img class="imagen" src="./assets/Web/menu.png" width="190px" height="190px" >
		<label class="texto1">Tus paquetes</label>
		<ul>
			<li  >
			  <a class="active" routerLink="/principal">Envios</a>
			</li>
			<li >
				<a class="active" routerLink="/historial">Registro</a>
			</li>
			
			<li >
			  <a class="active" routerLink="/enCurso">En curso</a>
		  </li>
		  
		</ul>
		<label class="texto2">Mi Cuenta</label>
		<ul class="segundo">
			<li>
			  <a class="active" routerLink="/perfil" >Perfil</a>
		  </li>
		  <li>
			<a class="active" routerLink="/usuario" >Ajustes</a>
		  </li>
		</ul>
		<ul class="sesion">
			<li>
			  <a class="active" (click)="salir()" >Cerrar sesión</a>
		  </li>
		</ul>
	</div>
</div>
