<app-menu-entrada></app-menu-entrada>
<div>
	<img class="imagen" src="./assets/Web/pakeva.png" width="220px" height="100px">
	<label class="saludo">¡Hola!</label>
	<label class="nombre"></label>
</div>
<div class="imagenes">
	<img class="svgs" src="./assets/Web/ENVIOS.svg" width="260px" height="140px">
	<img class="svgs" src="./assets/Web/RECOLECCIONES.svg" width="260px" height="140px">
	<img class="svgs" src="./assets/Web/CANCELACIONES.svg" width="260px" height="140px">
</div>
<div class="datos">

</div>
<p>historial works!</p>
