<nav class="navegar">
        <ul>
          <li style="float:left">
            <img class="imagen" src="./assets/Web/packeva.png" width="70%" height="70%" >
          </li>
		  <li  style="float:right">
            <a class="actives" routerLink="/login">INICIAR SESIÓN</a>
          </li>
		  <li style="float:right">
			  <a class="active" routerLink="/login">NUESTRO EQUIPO</a>
		  </li>
		  
          <li style="float:right">
            <a class="active" routerLink="/login">PAQUETES</a>
		</li>
		<li style="float:right">
		  <a class="active" routerLink="/login" >SOBRE NOSOTROS</a>
		</li>
          
		  </ul>
</nav>