.login{
	position: relative;
    left: 540px;
    width: 470px;
    border: 3px solid white;
    background-color: white;
    top: 370px;
    border-radius: 20px 20px 20px 20px;
}
.imagen{
	position: absolute;
    top: 87px;
    left: 1px;
}
.caja{
	position: relative;
    top: 22%;
    border: 1px solid #FC9020;
    border-radius: 10px;
    left: 41px;
    top: 20px;
    margin: 8px;
    width: 382px;
    height: 49px;
}
.recuerdame{
	position: relative;
    top: 19px;
    width: 467px;
    left: 15px;
    height: 126px;
}
.recuerda{
	position: relative;
    top: 8px;
    margin: 2px;
    font-family: -webkit-pictograph;
    font-size: 15px;
}
.registrar{
	position: relative;
    top: 8px;
    margin: 2px;
    font-family: cursive;
    font-size: 15px;
	left: 100px;
}
.contra{
	position: relative;
    top: -66px;
    margin: 2px;
    font-family: -webkit-pictograph;
    font-size: 15px;
    left: 295px;
    font-family: cursive;
    font-size: 12px;
} 
.txt1{
	color: #6686C3;

}
.pin{
	position: relative;
    top: -47px;
    margin: 2px;
    font-family: -webkit-pictograph;
    font-size: 15px;
    left: 188px;
    font-family: cursive;
    font-size: 12px;
}

.boton{
	position: relative;
    top: -15px;
    left: 68px;
    border: 1px solid #FC9020;
    border-radius: 50px;
    height: 55px;
    color: white;
    font-size: 21px;
    background-color: #fc9020;
    width: 331px;
}
.texto1{
    top: 138px;
    position: absolute;
    left: 530px;
    font-size: 100px;
}
.texto2{
    top: 260px;
    position: absolute;
    left: 450px;
    font-size: 100px;
}
.alerta{
    position: absolute;
    margin: 10px;
    color: red;
    left: 61px;
}